#registt, #regist, .user_session, .user_last_login, #container_home4, #bottom, .modal_transaccion_botones, #jiji {
	display: none;
}

.clsVentana3{
	width: 460px;
	height: 245px;
	position: relative;
	top: -500px;
	left: 25%;
	box-shadow: 0 0 15px #999;
	background: #fff;
	z-index: 99999;
	display: none;
}
	.clsVentanaContenido3{
		height: 245px;
		border-radius: 0 0 3px 3px;
	}
		.clsVentanaContenido3 iframe{
			width: 458px;
			height: 241px;
			border-radius: 10px;
			border: none;
			overflow: hidden;
		}

.modal_transaccion_exitosa_datos_wrapper {
	border: 1px solid #ccc;
}