.clsVentana3{
	width: 460px;
	height: 245px;
	border: solid 1px #ccc;
	position: absolute;
	top: 35%;
	right: 29%;
	border-radius: 10px;
	box-shadow: 0 0 15px #999;
	background: #fff;
	z-index: 99999;
	display: none;
}
	.clsVentanaContenido3{
		height: 245px;
		border-radius: 0 0 3px 3px;
	}
		.clsVentanaContenido3 iframe{
			width: 458px;
			height: 241px;
			border-radius: 10px;
			border: 0.1px solid #FFF;
			overflow: hidden;
		}

.modal_transaccion_exitosa_titulo_wrapper {
	width: 250px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}

.modal_transaccion_exitosa_titulo {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
	color:#008995;
	font-size: 14px;
}

.modal_transaccion_exitosa_datos_wrapper {
	width: 360px;
	height: 115px;
	background-color:#008995;
	margin: 10px auto 0 auto;
	border-radius: 5px;
	overflow: hidden;
}

.modal_transaccion_exitosa_datos {
	margin: 5px 10px 10px 10px;
	line-height: 9px;
}

.modal_transaccion_exitosa_contenido {
	font-family: 'Open Sans', sans-serif; 
	color:#FFF;
	font-size: 11px;
}

.modal_transaccion_exitosa_contenido2 {
	font-family: 'Open Sans', sans-serif; 
	color:#FFF;
	font-size: 11px;
	text-align: right;
}

.modal_transaccion_exitosa_texto1_wrapper {
	width: 356px;
	height: 15px;
	margin: 5px auto 0 auto;
}

.transaccion_exitosa_texto_1 {
	font-family: 'Open Sans', sans-serif; 
	color:#333;
	font-size: 11px;
}

.modal_transaccion_exitosa_check {
	display: inline-block;
	position: relative;
	left: 79px;
	top: 5px;
}

.transaccion_exitosa_texto_1.check {
	position: relative;
	top: -3px;
}

.modal_transaccion_botones {
	position: relative;
	top: -35px;
	left: 90px;
}