#container_reg #container3 .active{ display: block;}

#container_reg #container3 .inactive{ display:none;}

#header2 .user_session{ font-family: 'Open Sans', sans-serif; font-weight: bold;font-size: 12px; background: none; text-align: right; line-height: 15px; }