#container_reg #container3 .active{ display: block;}

#container_reg #container3 .inactive{ display:none;}

#header2 .user_session{ background: none; font-size: 13px; font-weight: bold; font-family: arial, hlevetica, sans-serif; text-align: right; line-height: 15px; }