@charset "UTF-8";
/* CSS Document */

body {margin:0; padding:0;}

#container {height:815px; width:100%; margin:auto; background-color: #008C99; position:relative; top:115px;
background-image:url(../img/fondo.jpg); background-repeat:repeat-x;}
#container2 {height:815px; width:945px; margin:auto;background-color: #EBEBEB;}


#header {height:115px; width:100%; background-color: #EBEBEB; position:fixed; z-index: 10000000;}
#header2 {height:115px; width:945px; margin:auto; }
#regist {width:8opx; height:22px; float:right; margin-left:5px;margin-top: 6px; margin-bottom: -5px;}
#registt {display: inline-block; float: right;margin-top: 5px; margin-bottom: -5px;}
#boton_registrar {background-image:url(../img/buttons/ingresar_up.jpg);width: 80px;height: 22px;border: 0px;position: absolute;top: 7px;left: 1255px;}
#farm {position: relative !important; left: -87px !important;}
#logo {width:170px; height:75px; float:left; margin-top:10px;}
#menu {width:700px; height:55px; float:left; margin-top:20px; margin-left:74px;}

#body {height:500px; width:945px; margin:auto; float:left;}

#foto {height:380px; width:945px; margin:auto; float:left;z-index:2;}
#fotoregistro {height:280px; width:865px; margin:auto; float:left;z-index:3; background-image: url(../img/banner_registro.jpg); background-repeat: no-repeat;
padding-top:100px; padding-left:80px;}

#submenuhome {height:95px; width:945px; margin:auto; float:left;}
#submenuhome a{ text-decoration:none;}
#submenuhome  #item{height:95px;  float:left; font-family: 'Open Sans', sans-serif; color:#4D4D4D; padding-left: 15px;
width: 140px; font-size:13px;} 
#submenuhome  #item .linea{ width:1px; height:70px; float:left; margin-top:15px; background:#4D4D4D; }
#submenuhome   h1{ margin-top:5px; margin-left:5px; margin-bottom:0px; font-size:24px;} 
#submenuhome  #item .texto:hover{background:#008C99; color:#FFF; width:98%; height:40px; margin-left: 5px;}
#submenuhome  #item .activo{ background:#008C99; color:#FFF; width:98%; height:40px; margin-left: 5px;}
#submenuhome  #item .texto{ padding-left:5px;}

#thumbs {height:256px; width:450px; float:left; margin-left:15px;}

#contenido {height:370px; width:790px; margin:auto; float:left; padding:20px;text-align: justify;}

#foot {height:60px; width:945px; margin:auto; padding-top:10px; text-align: center; line-height:1.5;}
#bottom {height:80px; width:100%; background-color: #CCC;position:relative; top:115px;}

.user_session {background-image: url(../img/temporal/10.png);width:280px;height: 14px;float: right;}
.user_last_login {background-image: url(../img/temporal/11.png);width:184px;height: 13px;margin-top: 100px;float: right;position: relative;right: -390px;}

/* These styles create the dropdown menus. */
#barra {
   margin: 0;
   padding: 0;
   height: 0em;
}
   
#barra li {
	list-style: none;
	float: left;  
}
   
#barra li a {
	display: block;
	padding: 0px 0px; /* el primer es el alto de cada barrita*/
	text-decoration: none;
}

#barra li ul {
   display: none; 
   width: 0em; /* el largo de cada barrita */
}
   
#barra li:hover ul, #barra li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0; /* padding de las cajas desbordadas */
   z-index: 15;
}


.stitle {font-family: 'Open Sans', sans-serif; font-weight: 400; font-style:italic; font-size:12px; color:#008C99;}
.stitleb {font-family: 'Open Sans', sans-serif; font-weight: 600; font-style:italic; font-size:12px;color:#008C99;}

.title {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:30px; color:#333;}
.titleb {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:30px; color:#333;}

.title2 {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:30px; color:#008C99;}
.title2b {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:30px; color:#008C99;}

.text {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:12px; color:#333;}
.textb {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:12px; color:#333;}

.ftxt {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:10px; color:#333;}


/*aki empieza el CSS del formulario*/


#form {
	float:left;
	width:320px;
	height: 330px;
	margin-left:0px;
	margin-top:0px;
}

#name, #email, #company {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	width: 280px;
}

#mail {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	width: 205px;
}
	
#message {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
}
	
textarea {
	width: 290px;
	height: 140px;
	max-height: 140px;
	max-width: 290px;
	min-height: 140px;
	min-width: 290px;
	padding:1px;
}
	
	
label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	display:block;
	padding-top:3px;
	width: 230px;
}

#send {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size:12px;
	color:#333;
	margin-top:10px;
	margin-left:2px;
	border: 0px;
	float:left;
}

#clear  {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size:12px;
	color:#333;
	margin-top:10px;
	margin-left:15px;
	float:left;
	border: 0px;
   }

/*Sección Registro:*/

#container_reg {
	height:815px; 
	width:100%; 
	margin:auto; 
	background-color: #333333; 
	position:relative; 
	top:115px;
	background-repeat:repeat-x;
}

#container3 {
	height:815px; 
	width:945px; 
	margin:auto;
	background-color: #333333;
}

#container_reg2 {
	background-color: #f1f1f1;
	height: 700px;
	width: 554px;
	border-radius: 5px;
	position: relative;
	top: 40px;
	overflow:hidden;
	float: left;
}

#container_reg3 {
	background-color: #4d4d4d;
	height: 700px;
	width: 370px;
	border-radius: 5px;
	position: relative;
	margin-left: 20px;
	top: 40px;
	overflow:hidden;
	float: left;
}

#img_reg {
	width: 254px;
	height: 35px;
	background-image: url(../img/reg_1.png);
	margin: 10px;
}

#paso_1 {
	width: 554px;
	height: 30px;
	background-image: url(../img/paso_1.png);
	margin: 20px 0;
}

#paso_2 {
	width: 554px;
	height: 30px;
	background-image: url(../img/paso_2.png);
	margin: 20px 0;
}

#paso_3 {
	width: 554px;
	height: 30px;
	background-image: url(../img/paso_3.png);
	margin: 20px 0;
}

#form_reg {
	margin-left: 10px;
	float: left;
}

#form_reg2 {
	float: left;
	margin-left: 45px;
	height: 350px;
}

input {
	width: 155px;
}



#radio {
	position:relative;
	left: -70px;
	top: 10px;
}

#check {
	position: absolute;
	left: -60px;
}

#text_reg {
	position: absolute;
	clear: both;
	top: 550px;
	margin-left: 10px;
}

#bot_siguiente {
	clear: both;
	position: absolute;
	top: 600px;
	left: 350px;
}

#bot_siguiente_2 {
	clear: both;
	position: absolute;
	top: 600px;
	left: 280px;
}

.radio_check {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 11px;
	display: inline;
	position: relative;
	right: 60px;
	bottom: 3px;
}

/* Panel de Usuario */

#container_home2 {
	height: 700px;
	width: 554px;
	border-radius: 5px;
	position: relative;
	top: 40px;
	float: left;
}

#container_home3 {
	background-color: #FFF;
	height: 700px;
	width: 945px;
	border-radius: 5px;
	position: relative;
	top: 20px;
	float: left;
}


#container_alertas {
	background-color: #fff;
	height: 250px;
	width: 370px;
	border-radius: 5px;
	position: relative;
	margin-left: 20px;
	top: 40px;
	overflow:hidden;
	float: left;
}

#container_noticias {
	background-color: #fff;
	height: 180px;
	width: 370px;
	border-radius: 5px;
	position: relative;
	margin-left: 20px;
	top: 60px;
	overflow:hidden;
	float: left;
}

#container_publicidad {
	background-image: url(../img/banner_recarga2.png);
	background-size: 100%;
	height: 125px;
	width: 370px;
	border-radius: 5px;
	position: relative;
	margin-left: 20px;
	top: 75px;
	overflow:hidden;
	float: left;
}
#title1 {
	position: absolute;
	top: -25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
}

#title2 {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
	margin-top: 5px;
}

#title3 {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
	margin-top: 5px;
}

#motto {
	position: relative;
	top: 25px;
	left: 5px;
	font-family: 'Verdana', sans-serif;
	font-weight: bold;
	color: rgb(51, 51, 51);
	font-size: 20pt;
}

.img_space {
	margin-right: 10px;
}

.servicios {
	margin-top: 20px;
}

#mis_servicios {
	background-image: url(../img/mis_servicios_2.png);
	width: 144px;
	height: 35px;
	position: relative;
	top: 10px;
	left: 10px;
}

#mis_servicios_2 {
	background-image: url(../img/mis_servicios_3.png);
	width: 430px;
	height: 35px;
	position: relative;
	top: 10px;
	left: 10px;
}

#volver_home {
	float: right;
	position: relative;
	top: -20px;
}

.ui {
	background-image: url(../img/afiliar_servicio.png);
	margin-top: 10px;
	width: 127px;
	height: 127px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 5px;
}

.ui.iu {
	margin-right: 10px;
}

.config {
	margin-top: 30px;
}

.servicio_texto_1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 12pt;
	margin: 35px auto 0 auto;
	width: 750px;
}

.servicio_texto_2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 12pt;
	margin: 35px auto -25px auto;
	width: 750px;
}

.servicio_texto_3 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 12pt;
	margin: 35px auto -25px auto;
	width: 750px;
}

.servicio_texto_4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 12pt;
	margin: 35px auto 0 auto;
	width: 750px;
}

.servicio_texto_5 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 10pt;
	margin: 45px auto -20px auto;
	width: 750px;
}

.servicio_texto_6 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 10pt;
	margin: 45px auto -20px auto;
	width: 750px;
}

.service_wrapper {
	width: 550px;
	margin: 30px auto;
}

.ai {
	background-color: #f7f7f7;
	margin-top: 10px;
	width: 127px;
	height: 127px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 5px;
}

.ai.ia {
	margin-right: 10px;
}

.num_afiliados {
	background-image: url(../img/temporal/1.png);
	width: 442px;
	height: 95px;
	margin: 20px auto 0 auto;
}

.buttons_1 {
	margin: 40px auto 0 auto;
	width: 322px;
	height: 52px;
}

.logo_digitel {
	background-image: url(../img/digitel_logo.png);
	width: 127px;
	height: 110px;
	position: relative;
	top: 30px;
	left: 160px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px;
	float: left;
}

.afiliacion_1 {
	background-image: url(../img/temporal/2.png);
	width: 216px;
	height: 70px;
	position: relative;
	top: 30px;
	left: 300px;
}

.afiliacion_2 {
	position: relative;
	display: inline-block;
	top: -40px;
	left: 390px;
}

.afiliacion_3 {
	background-image: url(../img/temporal/3.png);
	width: 216px;
	height: 89px;
	position: relative;
	top: 30px;
	left: 300px;
}

.afiliacion_4 {
	background-image: url(../img/temporal/4.png);
	width: 216px;
	height: 94px;
	position: relative;
	top: -60px;
	left: 516px;
}

.afiliacion_5 {
	background-image: url(../img/temporal/5.png);
	width: 216px;
	height: 117px;
	position: relative;
	top: 30px;
	left: 300px;
}

.afiliacion_6 {
	position: relative;
	display: inline-block;
	top: -80px;
	left: 516px;
}

.afiliacion_7 {
	background-image: url(../img/temporal/6.png);
	width: 216px;
	height: 150px;
	position: relative;
	top: -40px;
	left: 300px;
}

.afiliacion_8 {
	position: relative;
	display: inline-block;
	top: -170px;
	left: 516px;
}

.buttons_2 {
	margin: 40px auto 0 auto;
	width: 322px;
	height: 52px;
}

.buttons_3 {
	margin: 60px auto 0 auto;
	width: 490px;
	height: 52px;
}

.buttons_4 {
	position: relative;
	width: 490px;
	height: 52px;
}

.mini_box_wrapper {
	width: 548px;
	height: 70px;
	margin: 30px auto;
}

.mini_box {
	width: 65px;
	height: 65px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 5px;
	background-color: #f7f7f7;
}

.tdc {
	background-image: url(../img/temporal/tdc.png);
	width: 180px;
	height: 20px;
	position: absolute;
	left: 520px;
	bottom: 408px;
}

#check2 {
	position: absolute;
	left: -290px;
	margin-top: 10px;
}

.terms {
	width: 721px;
	height: 119px;
	background-image: url(../img/temporal/7.png);
	margin: -105px auto -20px auto;
}