@charset "UTF-8";
/* CSS Document */

body {margin:0; padding:0; background-color:#008C99;}

#container {height:950px; width:945px; margin:auto;background-color: #EBEBEB; position: static;}

#head {height:135px; width:100%; background-color: #EBEBEB; width:100%; position:fixed; z-index:1;}

#regist {width:8opx; height:22px; float:right; margin-left:5px;}
#logo {width:170px; height:75px; float:left; margin-top:30px;}
#menu {width:700px; height:55px; float:left; margin-top:23px; margin-left:74px;}

#body {height:500px; width:945px; margin:auto; float:left;}

#foto {height:380px; width:945px; margin:auto; float:left;z-index:2;}

#submenuhome {height:95px; width:945px; margin:auto; float:left;}
#submenuhome a{ text-decoration:none;}
#submenuhome  #item{height:95px;  float:left; font-family: 'Open Sans', sans-serif; color:#4D4D4D; padding-left: 15px;
width: 140px; font-size:13px;} 
#submenuhome  #item .linea{ width:1px; height:70px; float:left; margin-top:15px; background:#4D4D4D; }
#submenuhome   h1{ margin-top:5px; margin-left:5px; margin-bottom:0px; font-size:24px;} 
#submenuhome  #item .texto:hover{background:#008C99; color:#FFF; width:98%; height:40px; margin-left: 5px;}
#submenuhome  #item .activo{ background:#008C99; color:#FFF; width:98%; height:40px; margin-left: 5px;}
#submenuhome  #item .texto{ padding-left:5px;}

#thumbs {height:256px; width:450px; float:left; margin-left:15px;}

#contenido {height:370px; width:790px; margin:auto; float:left; padding:20px;text-align: justify;}

#foot {height:45px; width:945px; margin:auto; padding-top:15px; text-align: center; line-height:1.5;}
#bottom {height:65px; width:100%; background-color: #CCC;}


/* These styles create the dropdown menus. */
#barra {
   margin: 0;
   padding: 0;
   height: 0em;
   }
   
#barra li {
	list-style: none;
	float: left;  
	}
   
#barra li a {
	display: block;
	padding: 0px 0px; /* el primer es el alto de cada barrita*/
	text-decoration: none;
	}

#barra li ul {
   display: none; 
   width: 0em; /* el largo de cada barrita */
   }
   
#barra li:hover ul, #barra li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0; /* padding de las cajas desbordadas */
   z-index: 15;
   }


.stitle {font-family: 'Open Sans', sans-serif; font-weight: 400; font-style:italic; font-size:12px; color:#008C99;}
.stitleb {font-family: 'Open Sans', sans-serif; font-weight: 600; font-style:italic; font-size:12px;color:#008C99;}

.title {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:30px; color:#333;}
.titleb {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:30px; color:#333;}

.title2 {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:30px; color:#008C99;}
.title2b {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:30px; color:#008C99;}

.text {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:12px; color:#333;}
.textb {font-family: 'Open Sans', sans-serif; font-weight: 600;font-size:12px; color:#333;}

.ftxt {font-family: 'Open Sans', sans-serif; font-weight: 400;font-size:10px; color:#333;}



/*aki empieza el CSS del formulario*/


#form {
	float:left;
	width:320px;
	height: 330px;
	margin-left:0px;
	margin-top:0px;
}

#name, #email, #company{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	width: 280px;
	}
	
 #message {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	}
	
textarea {
width: 290px;
height: 140px;
max-height: 140px;
max-width: 290px;
min-height: 140px;
min-width: 290px;
padding:1px;

}
	
	
label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	color:#333;
	display:block;
	padding-top:3px;
	width: 230px;
}

#send {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size:12px;
	color:#333;
	margin-top:10px;
	margin-left:2px;
	border: 0px;
	float:left;
}

#clear  {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size:12px;
	color:#333;
	margin-top:10px;
	margin-left:15px;
	float:left;
	border: 0px;
   }
